@model IEnumerable<VideoStore.Models.Customer>

@{
    ViewBag.Title = "Customers";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    <p>
        Find by name or id: @Html.TextBox("SearchString")
        <input type="submit" value="Search"/>
    </p>
}
    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("Id", "Index", new { sortOrder = ViewBag.IdSortParam })
            </th>
            <th>
                @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParam })
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                <td>
                    @Html.DisplayFor(modelItem => item.LastName), @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
    
<hr/>
<p>
    @Html.ActionLink("Add New Customer", "Create")
</p>